# Python
**/__pycache__/
**/*.py[cod]
**/*$py.class

# Environment Variables
.env

# Virtual Environments
myenv/
venv/
.venv/

# Project Specific Exclusions
tests/
text.md
net-calorie-tracker-assignment-details.pdf
**/* copy.py
**/app copy.py
**/calorie_service copy.py

# OS specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
